better_profanity
fsspec
functions-framework==3.*
gcsfs
google-auth
google-cloud-bigquery
google-cloud-logging
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-storage
loguru
msal
numpy
openpyxl
pandas
pandas-gbq
pandarallel
paramiko
pytest
python-dotenv
python-gnupg
requests
spacy==3.7.0
stanza==1.7.0