functions-framework==3.*
gcsfs
google-auth
google-cloud-bigquery
google-cloud-logging
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-storage
loguru
msal
numpy
openpyxl
pandas
pandas-gbq
paramiko
pytest
python-dotenv
requests